*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

/* menu design */
#menu{
    background:whitesmoke;
}
.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px 0;
    color: rgb(128,129,129);
    font-weight: 300;
}
.menu-item a:hover{
    background: rgb(250,212,218);
}
#food-container{
    background: whitesmoke;
    overflow: scroll;
    overflow-x:hidden;
    box-sizing: content-box;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}
#header .address{
    font-size: 20px;
}
.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 10px 5px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i{
    font-size: 20px;
}

.utill i, .user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}

.utill i:active{
    color: white;
}
.food-items{

    
}
#burger,#burger-frenchfries-coke,#crunchwrap,#mexican-pizza,#bean-supreme-chalupa{
  margin-top: 40px;
}
#crunchwrap #item-card,#mexican-pizza #item-card{
    background: rgb(218,253,18);
}
#bean-supreme-chalupa #item-card,#burger-frenchfries-coke #item-card{
    background: rgb(221,243,243);
}
#category-name,.item-menu{
    margin: 10px;
    font-size: 35px;
    color: coral;
}
#item-card{
    
}
#cart{
    background:lavender;
}