*{
  margin :0;
  padding:0%;
  box-sizing: border-box;
  background-color: white;

}

body {
  overflow: scroll;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: rgb(209, 230, 227);
}